body{
background:#06DF6C;
}

th{
background:yellow; 
border:2.4px solid black;
width:250px;
height:50px;
}

td{
background:peachpuff; 
border:2.4px solid #58FAD0;
width:250px;
height:200px;
}

h3{
color:blue;
text-size:25px;
font-weight:bold;
word-spacing:4px;
line-height:20px;
font-family:Comic Sans MS;
}

.pregunta{
border:2.4px dashed #25FAD1;
width:400px;
height:200px;
text-align:center;
}

